# Copy this file to .env and update values for your environment
DOCKER_POSTGRES_DB=olivaris
DOCKER_POSTGRES_USER=olivaris_user
DOCKER_POSTGRES_PASSWORD=olivaris_pass
POSTGRES_HOST_PORT=5433

# To deploy the app on a server, change this URL to your own HTTPS domain
APP_BASE_URL=https://tu-dominio.com
SECURITY_JWT_SECRET_KEY=replace_with_a_long_random_secret

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
